@font-face {
  font-family: 'cf_asty_stdbold';
  src: url('../fonts/cfastystd-bold-webfont.woff2') format('woff2'),
       url('../fonts/cfastystd-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cf_asty_stdregular';
  src: url('../fonts/cfastystd-book-webfont.woff2') format('woff2'),
       url('../fonts/cfastystd-book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html, 
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #E9F7FE;
  background: #fff;
  font-family: $regular;
  color: $text;
}

html {
  font-size: 16px;
}

@media (max-width: 1023px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1140px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1680px) {
  html {
    font-size: 16px;
  }
}

h1, 
h2, 
h3, 
h4, 
h5,
h6 {
  font-weight: normal;
}


svg {
  display:block;
  width:100%;
  height: 100%;
  pointer-events: all;
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#container {
  position:  relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.none {
  display: none;
}

