@font-face {
  font-family: 'cf_asty_stdbold';
  src: url('../fonts/cfastystd-bold-webfont.woff2') format('woff2'),
       url('../fonts/cfastystd-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cf_asty_stdregular';
  src: url('../fonts/cfastystd-book-webfont.woff2') format('woff2'),
       url('../fonts/cfastystd-book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html, 
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #E9F7FE;
  background: #fff;
  font-family: $regular;
  color: $text;
}

html {
  font-size: 16px;
}

@media (max-width: 1023px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1140px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1680px) {
  html {
    font-size: 16px;
  }
}

h1, 
h2, 
h3, 
h4, 
h5,
h6 {
  font-weight: normal;
}

.visually-hidden { 
  position: absolute!important; 
  top: auto; 
  overflow: hidden; 
  clip: rect(1px 1px 1px 1px); /* IE 6/7 */ 
  clip: rect(1px, 1px, 1px, 1px); 
  width: 1px; 
  height: 1px; 
  white-space: nowrap; 
  /* https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe */ 
}


svg {
  display:block;
  width:100%;
  height: 100%;
  pointer-events: all;
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#container {
  position:  relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.none {
  display: none;
}

.svg-templates {
  display: none;
}

#preloader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $accent;
}

