@font-face {
  font-family: 'cf_asty_stdbold';
  src: url('../fonts/cfastystd-bold-webfont.woff2') format('woff2'),
       url('../fonts/cfastystd-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cf_asty_stdregular';
  src: url('../fonts/cfastystd-book-webfont.woff2') format('woff2'),
       url('../fonts/cfastystd-book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #E9F7FE;
  background: #ccc;
  font-family: $regular;
  color: $text;
}

h1, 
h2, 
h3, 
h4, 
h5,
h6 {
  font-weight: normal;
}


svg {
  display:block;
  width:100%;
  height: 100%;
  pointer-events: all;
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#container {
  position:  relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.controls {
  position: absolute;
  bottom: 5%;
  right: 20px;
  z-index: 1;
}
.controls button{
  display: block;
  float:left;
  margin-right: 5px;
}

.none {
  display: none;
}

.map-popover {
  position: fixed;
  max-width: 276px;
  padding: 1px;
  font-family: $regular;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  background-color: $accent;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border-radius: 0px;
  // -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  opacity: 0;
  z-index: -1;
}
.map-popover.top {
  margin-top: -10px;
}
.map-popover.right {
  margin-left: 10px;
}
.map-popover.bottom {
  margin-top: 10px;
}
.map-popover.left {
  margin-left: -10px;
}
.map-popover-title {
  padding: 8px 14px;
  margin: 0;
  font-family: $regular;
  font-size: 20px;
  color: #fff;
  background-color: $accent;
  z-index: -1;
}
.map-popover-content {
  padding: 9px 14px;
}
.map-popover > .arrow,
.map-popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.map-popover > .arrow {
  border-width: 11px;
}
.map-popover > .arrow:after {
  content: "";
  border-width: 10px;
}
.map-popover.top > .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, .25);
  border-bottom-width: 0;
}
.map-popover.top > .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  content: " ";
  border-top-color: #fff;
  border-bottom-width: 0;
}
.map-popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, .25);
  border-left-width: 0;
}
.map-popover.right > .arrow:after {
  bottom: -10px;
  left: 1px;
  content: " ";
  border-right-color: #fff;
  border-left-width: 0;
}
.map-popover.bottom > .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, .25);
}
.map-popover.bottom > .arrow:after {
  top: 1px;
  margin-left: -10px;
  content: " ";
  border-top-width: 0;
  border-bottom-color: #fff;
}
.map-popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, .25);
}
.map-popover.left > .arrow:after {
  right: 1px;
  bottom: -10px;
  content: " ";
  border-right-width: 0;
  border-left-color: #fff;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  max-width: 100%;
  height: 100%;
  opacity: 0;
  background: linear-gradient(90deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.8) 40%, rgba(0,0,0,0.7) 75%, rgba(0,0,0,0.3) 100%);
  z-index: -1;
}

.page {
  position: absolute;
  padding: 30px;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width:80%;
  max-width: 80%;
  height: 80%;
  background: #fff;
  border-radius: 10px;
  opacity: 1; 
  z-index: 1;  
}

.page-content {    
  width:100%;
  height: 100%;
  padding-right: 15px;
  overflow-y: scroll;
}

.open {
  opacity: 1; 
  z-index: 1;
}

.popup.open {
  left: 8%;
  top: 50%;
  transform: "translate(0, -50%)"
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.card {
  display: none;
  width: 100%;
  height: 100%;
}

.card iframe {
  height: 600px;
}

.card.visible {
  display: block;
}

.loader {
  display: none;
  width: 50px;
  height: 50px;
}

.map-loader {
  display: none;
    width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: "translate(50%, -50%)";
  z-index: 10000;
}

.sortable-answers {
  list-style: none;
  padding: 0;
}

.sortable-answers li {
  border: 1px solid #333;
  padding: 5px 10px;
  background: #fff;
  z-index: 1;
}

.sortable-container {
  position: relative;
  // top: 50%;
  // left: 50%;
  width: 320px;
  height: auto;
  opacity: 0;
  visibility: hidden;
  // transform: translate(-50%, -50%);
  // cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/106114/cursor.png") 32 32, auto;
  cursor: move;
}

.list-item {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
}

.item-content {
  height: 100%;
  border: 1px solid rgba(123, 123, 123, 0.498039);
  border-radius: 4px;
  color: rgb(153, 153, 153);
  line-height: 60px;
  padding-left: 32px;
  font-size: 24px;
  font-weight: 400;
  background-color: rgb(255, 255, 255);
  //box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
}