@font-face {
  font-family: 'cf_asty_stdbold';
  src: url('../fonts/cfastystd-bold-webfont.woff2') format('woff2'),
       url('../fonts/cfastystd-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cf_asty_stdregular';
  src: url('../fonts/cfastystd-book-webfont.woff2') format('woff2'),
       url('../fonts/cfastystd-book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html, 
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #E9F7FE;
  background: #fff;
  font-family: $regular, sans-serif;
  color: $text;
}

html {
  font-size: 16px;
}

@media (max-width: 1023px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1140px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1680px) {
  html {
    font-size: 16px;
  }
}

h1, 
h2, 
h3, 
h4, 
h5,
h6 {
  font-weight: normal;
}

.visually-hidden { 
  position: absolute!important; 
  top: auto; 
  overflow: hidden; 
  clip: rect(1px 1px 1px 1px); /* IE 6/7 */ 
  clip: rect(1px, 1px, 1px, 1px); 
  width: 1px; 
  height: 1px; 
  white-space: nowrap; 
  /* https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe */ 
}


svg {
  display:block;
  width:100%;
  height: 100%;
  pointer-events: all;
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#container {
  position:  relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.none {
  display: none;
}

.svg-templates {
  display: none;
}

#preloader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #E9F7FE;
  z-index: 100;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  overflow: hidden;
  h2 {
    position: absolute;
    top: 35%;
    color: $accent;
    font-size: 64px;
    font-weight: bold;
    font-family: sans-serif;
  }
  svg {
    position: absolute;
    top:2.5%;
    left: 2.5%;
  }
}
//no script loader
.donut {
  position: relative;
  width: 240px;
  height: 240px;
}

$radius: 90;

// This is the percentage that we want to show
$percent: 100;

$circumference: (3.14159265358979 * (2 * $radius));
$stroke_percentage: $circumference - (($percent / 100) * $circumference);

.donut .donut__svg {
  transform: rotate(-90deg);
}

.donut .donut__svg__circle--one {
  stroke-dasharray: $circumference;
  stroke-dashoffset: $circumference;
}

.donut .donut__svg__circle--one {
    animation: donut-show-one 4000ms cubic-bezier(.99,.01,.62,.94) .5s forwards;
    transition: stroke-dasharray 400ms ease-in-out;
}

@keyframes donut-show-one {
  to {
    stroke-dashoffset: $stroke_percentage;
  }
}





//
//
.info {
  font-size: 14px;
  color: #999;
  position: absolute;
  flex: 1;
  bottom: 40px;
  width: 100%;
  left: 0;
  text-align: center;
  
  a {
    color: #999;
  }
}


