.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite-v1.svg");
    background-repeat: no-repeat;
    background-size: 16.8em 352.6em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite-v1.png");
}



  .icon.checkbox-r:before {
      background-position: 0em 0em;
      width: 1.9664000000000001em;
      height: 1.5999em;
  }




  .icon.checkbox-w:before {
      background-position: 0em -1.6em;
      width: 3.4em;
      height: 3.4em;
  }




  .icon.checkbox-w-thick:before {
      background-position: 0em -5em;
      width: 3.4em;
      height: 3.4em;
  }




  .icon.classroom:before {
      background-position: 0em -8.4em;
      width: 3.6em;
      height: 2.4em;
  }




  .icon.clock:before {
      background-position: 0em -10.8em;
      width: 2.8em;
      height: 2.8em;
  }




  .icon.close-page:before {
      background-position: 0em -13.6em;
      width: 3.4em;
      height: 3.4em;
  }




  .icon.close-page-color:before {
      background-position: 0em -17em;
      width: 3.4em;
      height: 3.4em;
  }




  .icon.close-popup:before {
      background-position: 0em -20.4em;
      width: 1.5em;
      height: 1.5em;
  }




  .icon.download-pdf:before {
      background-position: 0em -21.9em;
      width: 5.1em;
      height: 6.8em;
  }




  .icon.download-pdf-pressed:before {
      background-position: 0em -28.7em;
      width: 4.7em;
      height: 6.4em;
  }




  .icon.glossary-underline:before {
      background-position: 0em -35.1em;
      width: 9.1737em;
      height: 0.8768em;
  }




  .icon.info:before {
      background-position: 0em -36em;
      width: 3.4em;
      height: 3.4em;
  }




  .icon.info-close:before {
      background-position: 0em -39.4em;
      width: 3.4em;
      height: 3.4em;
  }




  .icon.logo:before {
      background-position: 0em -42.8em;
      width: 16.8em;
      height: 6.4em;
  }




  .icon.next:before {
      background-position: 0em -49.2em;
      width: 4.1em;
      height: 5.2em;
  }




  .icon.next-arrow:before {
      background-position: 0em -54.4em;
      width: 4.1em;
      height: 5.2em;
  }




  .icon.pdf:before {
      background-position: 0em -59.6em;
      width: 2.1em;
      height: 2.9em;
  }




  .icon.pin:before {
      background-position: 0em -62.5em;
      width: 3.2em;
      height: 3.2em;
  }




  .icon.previous-arrow:before {
      background-position: 0em -65.7em;
      width: 4.1em;
      height: 5.2em;
  }




  .icon.reset:before {
      background-position: 0em -70.9em;
      width: 3.4000999999999997em;
      height: 3.4000999999999997em;
  }




  .icon.sprite:before {
      background-position: 0em -74.4em;
      width: 12.509307520476545em;
      height: 100em;
  }




  .icon.student:before {
      background-position: 0em -174.4em;
      width: 2.6em;
      height: 3.3em;
  }




  .icon.submit-loader:before {
      background-position: 0em -177.7em;
      width: 12em;
      height: 12em;
  }




  .icon.symbol-activity-duration:before {
      background-position: 0em -189.7em;
      width: 7em;
      height: 8.5em;
  }




  .icon.symbol-age-group:before {
      background-position: 0em -198.2em;
      width: 3.7em;
      height: 8.5em;
  }




  .icon.symbol-feedback:before {
      background-position: 0em -206.7em;
      width: 5.1em;
      height: 8.5em;
  }




  .icon.symbol-going-forward:before {
      background-position: 0em -215.2em;
      width: 3.5em;
      height: 8.5em;
  }




  .icon.symbol-group-activity:before {
      background-position: 0em -223.7em;
      width: 6.5em;
      height: 8.5em;
  }




  .icon.symbol-indoor:before {
      background-position: 0em -232.2em;
      width: 9em;
      height: 8.5em;
  }




  .icon.symbol-intro:before {
      background-position: 0em -240.7em;
      width: 5.6em;
      height: 8.5em;
  }




  .icon.symbol-outdoor:before {
      background-position: 0em -249.2em;
      width: 7em;
      height: 8.5em;
  }




  .icon.symbol-play-learn:before {
      background-position: 0em -257.7em;
      width: 6.1em;
      height: 8.5em;
  }




  .icon.symbol-question:before {
      background-position: 0em -266.2em;
      width: 3.8em;
      height: 8.5em;
  }




  .icon.symbol-single-activity:before {
      background-position: 0em -274.7em;
      width: 2.5em;
      height: 8.5em;
  }




  .icon.symbol-small-activity-duration:before {
      background-position: 0em -283.2em;
      width: 3.8em;
      height: 4.5em;
  }




  .icon.symbol-small-age-group:before {
      background-position: 0em -287.7em;
      width: 2em;
      height: 4.5em;
  }




  .icon.symbol-small-feedback:before {
      background-position: 0em -292.2em;
      width: 2.7em;
      height: 4.5em;
  }




  .icon.symbol-small-going-forward:before {
      background-position: 0em -296.7em;
      width: 1.8em;
      height: 4.5em;
  }




  .icon.symbol-small-group-activity:before {
      background-position: 0em -301.2em;
      width: 3.5em;
      height: 4.5em;
  }




  .icon.symbol-small-indoor:before {
      background-position: 0em -305.7em;
      width: 4.8em;
      height: 4.5em;
  }




  .icon.symbol-small-intro:before {
      background-position: 0em -310.2em;
      width: 3em;
      height: 4.5em;
  }




  .icon.symbol-small-outdoor:before {
      background-position: 0em -314.7em;
      width: 3.7em;
      height: 4.5em;
  }




  .icon.symbol-small-play-learn:before {
      background-position: 0em -319.2em;
      width: 3.3em;
      height: 4.5em;
  }




  .icon.symbol-small-question:before {
      background-position: 0em -323.7em;
      width: 2.2em;
      height: 4.5em;
  }




  .icon.symbol-small-single-activity:before {
      background-position: 0em -328.2em;
      width: 1.4em;
      height: 4.5em;
  }




  .icon.symbol-small-study:before {
      background-position: 0em -332.7em;
      width: 2.8em;
      height: 4.5em;
  }




  .icon.symbol-study:before {
      background-position: 0em -337.2em;
      width: 6em;
      height: 8.5em;
  }




  .icon.zoom-in:before {
      background-position: 0em -345.7em;
      width: 3.4em;
      height: 3.4000999999999997em;
  }




  .icon.zoom-out:before {
      background-position: 0em -349.2em;
      width: 3.4em;
      height: 3.4em;
  }





