//font styles
$regular: 'cf_asty_stdregular';
$bold: 'cf_asty_stdbold'; 


//colors
$white: #fff;
$accent: #00B9F2; //basic blue
$accent_rgba: rgba(0, 185, 242, 1);
$text: #939598;
$text: #777;
$grey_light: #e0e4e2;
$green: #00df7e;