<div class='page slide'>
  <button class='close'></button>
  <header class="page-header"></header>
  <section class="page-content"></section>
  <footer>
    <button class="download-pdf"><i class="pdf-icon"></i><span>ΦΥΛΛΟ ΕΡΓΑΣΙΑΣ</span></button>
    <nav class="card-nav">
      <button class='previous'></button>
      <button class='next'>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="41px" height="52px" viewBox="0 0 41 52" enable-background="new 0 0 41 52" xml:space="preserve">
          <g id="Layer_1">
          </g>
          <g id="activity_context">
            <path d="M0,51.06c1.245,1.253,3.262,1.253,4.506,0l35.561-22.797c1.244-1.251,1.244-3.28,0-4.529L4.507,0.938
              c-1.245-1.252-3.262-1.25-4.507,0V51.06z"/>
          </g>
          </svg>
      </button>
    </nav>
  </footer>
</div>

