    <div class="left-col">
    {% if text.acf.fact_sheet %}
    <a href="{{ text.acf.fact_sheet.url }}" download="Water-Polis-Fyllo-Ergasias-{{ text.acf.fact_sheet.name }}.doc" class="download-pdf">
      <i class="pdf-icon">
        <svg class="is-default" viewBox="0 0 51 68"><use xlink:href="#icon-download-pdf"></use></svg>
        <svg class="is-pressed" viewBox="0 0 47 64"><use xlink:href="#icon-download-pdf-pressed"></use></svg>
      </i>
      <span>ΦΥΛΛΟ ΕΡΓΑΣΙΑΣ</span>
    </a>
    {% endif %}
    </div>
    <nav class="card-nav">
      <button class='previous'>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="41px" height="52px" viewBox="0 0 41 52" enable-background="new 0 0 41 52" xml:space="preserve">
          <g id="Layer_1">
          </g>
          <g id="activity_context">
            <path d="M0,51.06c1.245,1.253,3.262,1.253,4.506,0l35.561-22.797c1.244-1.251,1.244-3.28,0-4.529L4.507,0.938
              c-1.245-1.252-3.262-1.25-4.507,0V51.06z"/>
          </g>
          </svg>
      </button>
      <button class='next'>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="41px" height="52px" viewBox="0 0 41 52" enable-background="new 0 0 41 52" xml:space="preserve">
          <g id="Layer_1">
          </g>
          <g id="activity_context">
            <path d="M0,51.06c1.245,1.253,3.262,1.253,4.506,0l35.561-22.797c1.244-1.251,1.244-3.28,0-4.529L4.507,0.938
              c-1.245-1.252-3.262-1.25-4.507,0V51.06z"/>
          </g>
          </svg>
      </button>
    </nav>