form {
  display: block;
  margin-top: 0em;
  font-family: Arial, sans-serif; }

fieldset {
  border: none; }

legend {
  display: block;
  -webkit-padding-start: 2px;
  -webkit-padding-end: 2px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial; }

label {
  display: block; }

input[type="radio"] + label,
input[type="checkbox"] + label {
  display: inline-block; }

input,
textarea,
keygen,
select,
button {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em 0em 0em 0em;
  font: 13.3333px Arial; }

input,
textarea,
keygen,
select,
button,
meter,
progress {
  -webkit-writing-mode: horizontal-tb; }

input:not([type]),
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="text"] {
  padding: 1px 0px; }

input {
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  user-select: text;
  cursor: auto;
  padding: 1px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial; }

textarea {
  font-family: monospace;
  border-color: darkgray; }

textarea {
  -webkit-appearance: textarea;
  background-color: white;
  -webkit-rtl-ordering: logical;
  user-select: text;
  flex-direction: column;
  resize: auto;
  cursor: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  border-width: 1px;
  border-style: solid;
  border-color: initial;
  border-image: initial;
  padding: 2px; }

input[type="radio"],
input[type="checkbox"] {
  margin: 3px 3px 3px 4px; }

/*radio*/
input[type="radio"] {
  -webkit-appearance: radio;
  box-sizing: border-box; }

input[type="radio"] {
  display: none; }

input[type="radio"] + label {
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px; }

input[type="radio"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  -moz-border-radius: 50%;
  border-radius: 50%; }

input[type="radio"] + label span {
  background-color: #ccc; }

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition: background-color 0.4s linear;
  -o-transition: background-color 0.4s linear;
  -moz-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear; }

/*checkbox*/
input[type="checkbox"] {
  display: none; }

input[type="checkbox"] + label {
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px; }

input[type="checkbox"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer; }

input[type="checkbox"] + label span {
  background-color: #ccc; }

input[type="checkbox"] + label span,
input[type="checkbox"]:checked + label span {
  -webkit-transition: background-color 0.4s linear;
  -o-transition: background-color 0.4s linear;
  -moz-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear; }

input[data-type="correct"]:checked + label span {
  background-color: green; }

input[data-type="wrong"]:checked + label span {
  background-color: red; }

/*select*/
select:not(:-internal-list-box) {
  overflow: visible !important; }

select {
  -webkit-appearance: menulist;
  box-sizing: border-box;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  color: black;
  background-color: white;
  cursor: default;
  border-width: 1px;
  border-style: solid;
  border-color: initial;
  border-image: initial; }

option {
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
  padding: 0px 2px 1px; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #E9F7FE;
  background: #ccc;
  font-family: Arial; }

svg {
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: all; }

#app {
  width: 100%;
  height: 100%;
  overflow: hidden; }

#container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.controls {
  position: absolute;
  bottom: 5%;
  right: 20px;
  z-index: 1; }

.controls button {
  display: block;
  float: left;
  margin-right: 5px; }

.map-popover {
  position: fixed;
  max-width: 276px;
  padding: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  line-break: auto;
  opacity: 0; }

.map-popover.top {
  margin-top: -10px; }

.map-popover.right {
  margin-left: 10px; }

.map-popover.bottom {
  margin-top: 10px; }

.map-popover.left {
  margin-left: -10px; }

.map-popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0; }

.map-popover-content {
  padding: 9px 14px; }

.map-popover > .arrow,
.map-popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

.map-popover > .arrow {
  border-width: 11px; }

.map-popover > .arrow:after {
  content: "";
  border-width: 10px; }

.map-popover.top > .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, 0.25);
  border-bottom-width: 0; }

.map-popover.top > .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  content: " ";
  border-top-color: #fff;
  border-bottom-width: 0; }

.map-popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, 0.25);
  border-left-width: 0; }

.map-popover.right > .arrow:after {
  bottom: -10px;
  left: 1px;
  content: " ";
  border-right-color: #fff;
  border-left-width: 0; }

.map-popover.bottom > .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, 0.25); }

.map-popover.bottom > .arrow:after {
  top: 1px;
  margin-left: -10px;
  content: " ";
  border-top-width: 0;
  border-bottom-color: #fff; }

.map-popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, 0.25); }

.map-popover.left > .arrow:after {
  right: 1px;
  bottom: -10px;
  content: " ";
  border-right-width: 0;
  border-left-color: #fff; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  opacity: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 40%, rgba(0, 0, 0, 0.7) 75%, rgba(0, 0, 0, 0.3) 100%);
  z-index: -1; }

.page {
  position: absolute;
  padding: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 80%;
  height: 80%;
  background: #fff;
  border-radius: 10px;
  opacity: 1;
  z-index: 1; }

.page-content {
  width: 100%;
  height: 100%;
  padding-right: 15px;
  overflow-y: scroll; }

.open {
  opacity: 1;
  z-index: 1; }

.popup.open {
  left: 8%;
  top: 50%;
  transform: "translate(0, -50%)"; }

.close {
  position: absolute;
  top: 10px;
  right: 10px; }

.popup .close {
  position: absolute;
  top: 10px;
  right: 10px; }

.card {
  display: none;
  width: 100%;
  height: 100%; }

.card iframe {
  height: 600px; }

.card.visible {
  display: block; }
