/**
 * Hotspot quiz
 *
 *  
 *
 * @credits
 * http://
 *
 * TODO: 
 *  - Second todo item
 */
.quiz-hotspot {
  position: relative;
  display: flex;
  flex-direction: row;
}

.quiz-hotspot ul {
  list-style-type: none;
  margin-top: 0;
}

.quiz-hotspot li {

  position: relative;
  float: left;
  // width: 100%;
  border: 1px solid #ccc;
  padding: 5px;
  text-align: left;
  margin-top: 0;
  line-height: 1;
  margin-right: 10px;
  //min-width: 300px;
  //min-height: 50px;
}

.draggable-item {
  display: flex;
  align-items: center;
  float: left;
  text-align: left;
  background: rgba(255, 255, 255, 0.1);
  padding: 5px 12px 5px 40px;
  line-height: 1.2;
  color: #666;

  min-height: 45px;

  .circle {
    position: absolute;
    left: 11px;
    //top: 0;
    background: rgba(255, 255, 255, 0);
    border: 2px solid $accent;
    width: 18px;
    height: 18px;
    border-radius: 50%;
  }
  .text {
    position: relative;
    display: block;
    margin: 0 auto;
    font-size: 18px;
     font-family: $bold;
  }
}

.draggable-item .circle {
  background: $accent;
  border: 2px solid #fff;
}

.draggable-item.hit,
.match {
   background: rgba(255, 255, 255, 0.7);
}

.being_dragged  {
  font-size: 16px;
  color: #444;
 
  min-height: 45px;

  //max-width: 150px;
}

.hotspot-image {
  position: relative;
  margin: 0;
  img {
    //max-width: 346px;
  }
  .hotspot {
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid $accent;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition: all .2s ease-in-out; 
  }
  .showOver {
    background: $accent;

    //transform: scale(1.4);
    //border: 2px solid black;
  }
}


 

