/**
 * Hotspot quiz
 *
 *  
 *
 * @credits
 * http://
 *
 * TODO: 
 *  - Second todo item
 */
.quiz-hotspot {
  position: relative;
  display: flex;
  flex-direction: row;
}

@media (max-width: 500px) {
  .quiz-hotspot {
    flex-direction: column;
    width: 480px;
  }
}

.quiz-hotspot ul {
  list-style-type: none;
  margin-top: 0;
}

.quiz-hotspot li {
  position: relative;
  float: left;
  // width: 100%;
  border: 1px solid #ccc;
  padding: 5px;
  text-align: left;
  margin-top: 0;
  line-height: 1;
  margin-right: 10px;
  //min-width: 300px;
  //min-height: 50px;
}

@media (max-width: 500px) {
  .quiz-hotspot ul {
    margin-top: 10px;
    padding: 0;
  }
}

.hotspot-labels {
  display: flex;
  align-items: center;
  float: left;
  text-align: left;
  background: transparent;
  padding: 5px 12px 5px 12px;
  line-height: 1.2;
  color: #666;
  min-height: 45px;
  z-index: -1;
  .hotspot-handle {
    background: $accent;
    width: 36px;
    height: 36px;
    min-height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-family: $bold;
  }
  .text {
    position: relative;
    display: block;
    margin: 0 auto;
    font-size: 16px;
    margin-left: 10px;
  }
}

.right-positions {
  background: $accent;
  width: 36px;
  height: 36px;
  min-height: 36px;
  margin-top: -2px;
  margin-left: -2px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  font-family: $bold;
  font-size: 21px;
  opacity: 0;
}

.hotspot-labels .clone {
  position: absolute;
  left: 29px;
  color: #333;
  font-family: cf_asty_stdbold;
  z-index: -1;
}

.highlight-correct, 
.highlight-correct .circle {
  background-color: rgba($green, 0.8)!important;
}

.highlight-wrong, 
.highlight-wrong .circle {
  background-color: rgba(red, 0.8)!important;
}

@media (max-width: 500px) {
 
  .hotspot-labels .text {
    font-size: 12px;
    //font-family: $bold;
  }

}

.hotspot-labels .circle {
  // background: $accent;
  // border: 2px solid #fff;
}

.hotspot-labels .hit {

  //margin-top: 7px;
  // margin-left: 4px;
  // background: rgba(255, 255, 255, 1);
  // box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  // width: 26px;
  // height: 26px;
  // margin-top: 12px;
  // margin-left: 9px;
  // min-height: 26px;
}

.being_dragged  {
  z-index: 1;
}

.hotspot-image {
  position: relative;
  margin: 0;
  img {
    //max-width: 346px;
  }
  .hotspot {
    display: block;
    position: absolute;
    background: rgba($accent, 0.7);
    border: 2px solid #fff;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    transition: all .2s ease-in-out; 
    &.match {
    }
  }
  .showOver {
    background: $accent;

    //transform: scale(1.4);
    //border: 2px solid black;
  }
}

.check-hotspot {
  margin-bottom: 0px;
}


 

