form {
  display: block;
  margin-top: 0em;
  font-family: $regular;
  font-size: 23px;
  margin-top: 4%;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

legend {
  display: block;
  -webkit-padding-start: 2px;
  -webkit-padding-end: 2px;
  border-width: initial;
  border-style: none;
  border-color: $text;
  border-image: initial;
}

label {
  display: block;
}

input[type="radio"] + label, 
input[type="checkbox"] + label {
  display: inline-block;
}

input, 
textarea, 
keygen, 
select, 
button {
  text-rendering: auto;
  color: $text;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em 0em 0em 0em;
  font-family: $regular;
  font-size: 1rem;
}

input, 
textarea, 
keygen, 
select, 
button, 
meter, 
progress {
  -webkit-writing-mode: horizontal-tb;
}


input:not([type]), 
input[type="email"], 
input[type="number"], 
input[type="password"], 
input[type="tel"], 
input[type="url"], 
input[type="text"] {
    padding: 1px 0px;
}

input {
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  user-select: text;
  cursor: auto;
  padding: 1px;
  border-width: 2px;
  border-style: inset;
  border-color: $text;
  border-image: initial;
}

textarea {
  font-family: monospace;
  border-color: rgb(169, 169, 169);
}
 
textarea {
  -webkit-appearance: textarea;
  background-color: white;
  -webkit-rtl-ordering: logical;
  user-select: text;
  flex-direction: column;
  resize: auto;
  cursor: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  border-width: 1px;
  border-style: solid;
  border-color: $text;
  border-image: initial;
  padding: 2px;
}


input[type="radio"], 
input[type="checkbox"] {
  margin: 3px 3px 3px 4px;
}
/*radio*/ 
input[type="radio"] {
  -webkit-appearance: radio;
  box-sizing: border-box;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    color: $text;
    font-size: 14px;
}

input[type="radio"] + label span {
    display:inline-block;
    width: 30px;
    height: 30px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

input[type="radio"] + label span {
     background-color: $text;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition: background-color 0.4s linear;
  -o-transition: background-color 0.4s linear;
  -moz-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
}


/*radio-buttons: likert scale*/
form .likert {
  float: left;  
}

form .likert mark {
  display: block;
  text-align: center;
}

form .likert.scale-label {
  margin-top: 32px;
  margin-left: 16px;
  margin-right: 16px;
}

/*checkbox*/ 
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  color: $text;
  font-size: 14px;
}

input[type="checkbox"] + label span {
  display:inline-block;
  width: 30px;
  height: 30px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
}

input[type="checkbox"] + label span {
  background-color: $text;
}

input[type="checkbox"] + label span,
input[type="checkbox"]:checked + label span {
  -webkit-transition: background-color 0.4s linear;
  -o-transition: background-color 0.4s linear;
  -moz-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
}

/**
 * Checked input
 */
input:checked + label span {
  // border: 2px solid #333;
  background-color: $text;
  background-image: url('https://michellekondou.me/neroupoli/src/graphics/checkbox-r.svg');
  background-repeat: no-repeat;
  background-position: 2px 2px;
}

/**
 * Correct / wrong answer styling
 */
.submitted input[data-type="correct"] + label span {
  background-image: url('https://michellekondou.me/neroupoli/src/graphics/checkbox-r.svg');
  background-repeat: no-repeat;
  background-position: 2px 2px;
}

.submitted input[data-type="wrong"] + label span {
  background-image: url('https://michellekondou.me/neroupoli/src/graphics/checkbox-w.svg');
  background-repeat: no-repeat;
  background-position: 2px 2px;
}

/**
 * Disabled input
 */
input:disabled + label span{
  cursor: default;
}
 

/*select*/ 
select:not(:-internal-list-box) {
  overflow: visible !important;
}
 
select {
  -webkit-appearance: menulist;
  box-sizing: border-box;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  color: $text;
  background-color: white;
  cursor: default;
  border-width: 1px;
  border-style: solid;
  border-color: $text;
  border-image: initial;
}

option {
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

/**
 * Buttons
 */

.submit, 
.submit-button {
  font-size: 16px;
  margin-top: 20px;
  padding: 15px 30px;
  // border: 2px solid $text;
  border-radius: 30px;
  border-radius: 30px;
  background: #00B9F2;
  color: #fff;
}

form mark {
  background-color: transparent;
}
