/**
 * Hotspot quiz
 */
.quiz-hotspot {
  position: relative;
  display: flex;
  flex-direction: row;
}

@media (max-width: 500px) {
  .quiz-hotspot {
    flex-direction: column;
    width: 480px;
  }
}

.quiz-hotspot ul {
  list-style-type: none;
  margin-top: 0;
  flex: 1; //IE11 - otherwise flex children do not respect the width
}

.quiz-hotspot li {
  position: relative;
  float: left;
  border: 1px solid #ccc;
  text-align: left;
  margin-top: 0;
  font-size: 14px;
  line-height: 1.2;
  margin-right: 10px;
  list-style-type: outside; //otherwise IE11 shows bullets WTF
  list-style-type: none; //otherwise firefox shows numbers WTF
  padding: 12px;
}

@media (max-width: 500px) {
  .quiz-hotspot ul {
    margin-top: 10px;
    padding: 0;
  }
}


.highlight-correct {
  background-color: rgba($green, 0.8)!important;
}

.highlight-wrong {
  background-color: rgba(red, 0.8)!important;
}


@keyframes ripple {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

.check-hotspot {
  margin-bottom: 0px;
}

.clear-hotspot {
  margin-right: 15px;
}

.hotspot-label, .hotspot {
  position: relative;
  text-align: left;
  background: transparent;
  line-height: 1.2;
  color: $text;
  .drag-handle,
  .drag-handle-target,
  .right-positions, 
  .clone {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    min-height: 36px;
    border-radius: 50%;
    margin-right: 12px;
    background: $accent;
    color: #333;
    font-family: $bold;
  }
  .drag-handle-target {
    background: $grey_light;
    border: 2px solid $accent;
    float: right;
    margin-right: 0;
    margin-left: 15px;
    &:after {
      content: '+';
      font-family: $regular;
      font-size: 21px;
    }
    &.showOver {
      border: 2px solid $white;
    }
  }
  .right-positions {
    position: absolute;
    top: 12px;
    right: 0px;
    opacity: 0;
    font-size: 16px;
  }
  .text, .sound {
    flex: 1;
    display: inline;
    margin: 0 auto;
    font-size: 16px;
    margin-left: 0;
  }
  .sound {
    width: 64px;
    height: 32px;
    overflow: hidden;
  }
  .clone {
    position: absolute;
    left: 12px;
    top: 12px;
    z-index: -1;
    background-color: $grey_light;
    &.default {
      position: relative;
      top: 0;
      left: 0;
    }
  }
  .showOver {
    background: $accent;
    animation: ripple .4s ease-out;
  }
}

.hotspot-image {
  position: relative;
  margin: 0;
  img {
    //max-width: 346px;
  }
  .hotspot {
    display: block;
    position: absolute;
    background: rgba($accent, 0.7);
    border: 2px solid #fff;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    &:hover {
      cursor: pointer;
    }
    &.hit {
      animation: ripple .4s ease-out; 
    }
    .right-positions {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 34px;
      height: 34px;
      min-height: 34px;
      border-radius: 50%;
      background: $green;
      color: #333;
      font-family: $bold;
      position: absolute;
      opacity: 0;
      font-size: 16px;
      top: -2px;
      left: -2px;
      animation: ripple_rp .4s ease-out;
    }
  }
  .showOver {
    background: $accent;
    animation: ripple .4s ease-out;
  }
}

.quiz-hotspot.drag-and-drop .term-popup {
  display: none;
}

.quiz-hotspot.mouseover {
  .right-positions {
    visibility: hidden;
  }
}
