

.pin {
  display: block;
  position: absolute;
  bottom: -42px;
  background-image: url('../graphics/pin.svg');
  width: 32px;
  height: 32px;
}

.map-popover {
  position: fixed;
  max-width: 320px;
  padding: 1px;
  font-family: $regular;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  background-color: $accent;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border-radius: 0px;
  // -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  opacity: 0;
  z-index: -1;
  color: #fff;
}
.map-popover.top {
  margin-top: -10px;
}
.map-popover.right {
  margin-left: 10px;
}
.map-popover.bottom {
  margin-top: 10px;
}
.map-popover.left {
  margin-left: -10px;
}

.map-popover-title {
  padding: 0;
  margin: 0;
  font-family: $regular;
  font-size: 21px;
  color: #fff;
  letter-spacing: 1px;
  background-color: $accent;
  z-index: -1;
}

.popup {
  padding: 20px;
}

.tooltip {
  padding: 10px 20px;
}

.tooltip.open .map-popover-title {
  letter-spacing: 0;
  font-size: 19px;
}

.popup.open .map-popover-title {
  margin-top: 20px;
  font-family: $bold;
}

.map-popover-content {
  margin: 0;
  padding: 0;
  color: #fff;
}

.popup.open .map-popover-content {
  margin-top: 10px;
  font-size: 19px;
  line-height: 1.4;
  color: #fff;
}

.map-popover > .arrow,
.map-popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.map-popover > .arrow {
  border-width: 11px;
}
.map-popover > .arrow:after {
  content: "";
  border-width: 10px;
}
.map-popover.top > .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, .25);
  border-bottom-width: 0;
}
.map-popover.top > .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  content: " ";
  border-top-color: #fff;
  border-bottom-width: 0;
}
.map-popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: $accent;
  //border-right-color: rgba(0, 0, 0, .25);
  border-left-width: 0;
}
.map-popover.right > .arrow:after {
  bottom: -10px;
  left: 1px;
  content: " ";
  border-right-color: $accent;
  border-left-width: 0;
}
.map-popover.bottom > .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, .25);
}
.map-popover.bottom > .arrow:after {
  top: 1px;
  margin-left: -10px;
  content: " ";
  border-top-width: 0;
  border-bottom-color: #fff;
}
.map-popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: $accent;
}
.map-popover.left > .arrow:after {
  right: 1px;
  bottom: -10px;
  content: " ";
  border-right-width: 0;
  border-left-color: $accent;
}

/**
 * Popup open state
 */
.popup.open {
  left: 8%;
  top: 50%;
  transform: translate(-8%, -50%);
}

/**
 * Open page button - needs renaming
 */
.open_page {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  padding: 15px 30px;
  font-family: $bold;
  font-size: 16px;
  line-height: 1;
  color: #fff;
  text-align: center;
  //text-transform: uppercase;
  border: 2px solid #fff;
  border-radius: 30px;
}

/**
 * Page & Modal close button
 * TODO rename to close_btn to differentiate from state
 */
.close {
  position: absolute;
}

.popup .close {
  top: 10px;
  right: 10px;
  background-image: url('../graphics/close-popup.svg');
  width: 15px;
  height: 15px;
}

.page .close {
  top: 20px;
  right: 20px;
  background-image: url('../graphics/close-page-color.svg');
  width: 34px;
  height: 34px;
}

.card .close {
  display: inline-block;
  top: auto;
  right: auto;
  // background-image: none;
  // background-color: $accent;
  // color: #fff;
  // padding: 5px;
  // border-radius: 30px;
}

/**
 * Generic
 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  max-width: 100%;
  height: 100%;
  opacity: 0;
  // background: linear-gradient(90deg, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.5) 40%, rgba(255,255,255,0.4) 75%, rgba(255,255,255,0.3) 100%);
  z-index: -1;
}

.open {
  opacity: 1; 
  z-index: 1;
}


/**
 * Cards / Pages
 *
 * Multi Comment description
 *
 * @credits
 * http://
 *
 * TODO: 
 *  - First todo item
 *  - Second todo item
 */
//page container
.page {
  position: absolute;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 1150px;
  height: 80%;
  max-height: 587px;
  background: #fff;
  border-radius: 0;
  opacity: 1; 
  z-index: 1;  
}

/**
 * Page header
 */
.page header {
  float: left;
  width: 100%;
  height: 22%;
}

/**
 * Main section
 */
.page-content {    
  width: 97.5%;
  height: 65%;
  padding: 0 40px;
  margin: 20px 0 0; 
  overflow-y: scroll;
}

/**
 * Page footer
 */
.page footer {
  float: left;
  width: 100%;
  background-color: $grey_light;
  height: 13%;
  padding: 1% 3.5%;
}

/**
 * Page Typography
 */
.page .point-title {
  margin-top: 0;
  font-size: 36px;
  font-family: $bold;
  text-transform: none;
}

.page a {
  color: $accent;
}

/**
 * Page header
 */
//heading
.page .outer-point-title {
  margin-top: 20px;
  margin-left: 40px;
  font-size: 23px;
}

//progress bar
.progress-bar {
  position: relative;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 80px;
  display: flex;
  justify-content: space-between;
}

.progress-bar .symbol {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: $text;
}

.progress-bar-line {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  height: 2px;
  background-color: $text;
}

.study-icon {

}

.play-icon {

}

.activity-single-icon {

}

.activity-group-icon {

}

.worksheet-icon {

}

.feedback-icon {

}

.happy-state-icon {

}

.sad-state-icon {

}

.next-steps-icon {
  
}

/**
 * Page footer
 */

/**
 * Download PDF button
 */
.download-pdf {
  font-size: 12px;
  font-family: $bold;
  margin: auto;
  margin-top: 1%;
  span {
      display: inline-block;
      max-width: 105px;
      margin-left: 6px;
  }
}

.pdf-icon {
  display: inline-block;
  background-image: url('../graphics/pdf.svg');
  width: 21px;
  height: 29px;
}

/**
 * Previous next buttons
 */
.card-nav {
  float: right;
  button {
    width: 41px;
    height: 52px;
  }
}

.next {
  svg {
     fill: $accent;
  }
  // background-image: url('../graphics/next.svg');
}

.previous {
  background-image: url('../graphics/next.svg');
  transform: rotate(180deg);
  margin-right: 15px;
}

.disabled {
  opacity: 0.5;
}

/**
 * Individual card content
 */

.card {
  display: none;
  width: 100%;
  height: 100%;
}

.card iframe {
  height: 600px;
}

.card.visible {
  display: block;
}

/**
 * Intro
 */
.intro {
  display: flex;
  flex-direction: row;
}

.col {
   width: 50%;
   height: 100%;
   margin: auto;
   margin-top: 0;
}

.col:first-child {
   margin-right: 40px;
}

.page h2, 
.col h3 {
  font-size: 16px;
  font-family: $bold;
  letter-spacing: 0;
  //text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.page p, 
.page li {
  font-size: 23px;
  line-height: 1.4;
}

.page li {
  margin-bottom: 2%;
}

.block_1 p {
  font-size: 23px;
  line-height: 1.4;
  margin-top: 0;
}

.block_2 p,
.block_2 li,
.block_3 {
  font-size: 16px;
  line-height: 1.3;
}

.col article + article{
  margin-top: 45px;
}

.page .symbols {
  border: 2px solid $grey_light;
  border-radius: 8px;
  display: flex;
  justify-content: space-around; 
  padding: 3%;
}

.page .symbol {
  font-size: 12px;
  font-family: $bold;
  text-align: center;
  span {
      display: block; 
      margin-top: 8px;
      //text-transform: uppercase;
      vertical-align: top;
  }
  i {
    display: inline-block;
    height: 33px;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.duration-icon {
  background-image: url('../graphics/clock.svg');
  width: 28px;
}

.level-icon {
  background-image: url('../graphics/student.svg');
  width: 26px;
}

.classroom-icon {
  background-image: url('../graphics/classroom.svg');
  width: 36px;
}

.text h3:first-of-type {
  margin-top: 20px;
}

.text h3 {
  font-size: 23px;
  font-family: $bold;
  margin-top: 40px;
}

.text h4 {
  font-size: 21px;
  font-family: $bold;
  margin-top: 20px;
  text-transform: none;
}

/**
 * Study
 */

.alignleft { /* mainly images */
  float: left;
  margin-right: 20px;
  margin-top: 5px;
}

/**
 * Loaders
 */

.loader {
  display: none;
  width: 50px;
  height: 50px;
}

.map-loader {
  display: none;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
}

/**
 * Forms
 */
.sortable-answers {
  list-style: none;
  padding: 0;
}

.sortable-answers li {
  border: 1px solid #333;
  padding: 5px 10px;
  background: #fff;
  z-index: 1;
}

.sortable-container {
  position: relative;
  // top: 50%;
  // left: 50%;
  width: 320px;
  height: auto;
  opacity: 0;
  visibility: hidden;
  // transform: translate(-50%, -50%);
  // cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/106114/cursor.png") 32 32, auto;
  cursor: move;
}

.list-item {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
}

.item-content {
  height: 100%;
  border: 1px solid rgba(123, 123, 123, 0.498039);
  border-radius: 4px;
  color: rgb(153, 153, 153);
  line-height: 60px;
  padding-left: 32px;
  font-size: 24px;
  font-weight: 400;
  background-color: rgb(255, 255, 255);
  //box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
}