

.pin {
  display: block;
  position: absolute;
  bottom: -42px;
  background-image: url('../graphics/pin.svg');
  width: 32px;
  height: 32px;
}

.map-popover {
  position: fixed;
  max-width: 320px;
  padding: 1px;
  font-family: $regular;
  @include rem-fallback(font-size, 14);
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  background-color: $accent;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border-radius: 0px;
  // -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  opacity: 0;
  z-index: -1;
  color: #fff;
}
.map-popover.top {
  margin-top: -10px;
}
.map-popover.right {
  margin-left: 10px;
}
.map-popover.bottom {
  margin-top: 10px;
}
.map-popover.left {
  margin-left: -10px;
}

.map-popover-title {
  padding: 0;
  margin: 0;
  font-family: $regular;
  @include rem-fallback(font-size, 21);
  color: #fff;
  letter-spacing: 1px;
  background-color: $accent;
  z-index: -1;
}

.popup {
  padding: 20px;
}

.tooltip {
  padding: 10px 20px;
}

.tooltip.open .map-popover-title {
  letter-spacing: 0;
  @include rem-fallback(font-size, 19);
}

.popup.popup-open .map-popover-title {
  margin-top: 20px;
  font-family: $bold;
}

.map-popover-content {
  margin: 0;
  padding: 0;
  color: #fff;
}

.popup.popup-open .map-popover-content {
  margin-top: 10px;
  @include rem-fallback(font-size, 19);
  line-height: 1.4;
  color: #fff;
}

.map-popover > .arrow,
.map-popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.map-popover > .arrow {
  border-width: 11px;
}
.map-popover > .arrow:after {
  content: "";
  border-width: 10px;
}
.map-popover.top > .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, .25);
  border-bottom-width: 0;
}
.map-popover.top > .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  content: " ";
  border-top-color: #fff;
  border-bottom-width: 0;
}
.map-popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: $accent;
  //border-right-color: rgba(0, 0, 0, .25);
  border-left-width: 0;
}
.map-popover.right > .arrow:after {
  bottom: -10px;
  left: 1px;
  content: " ";
  border-right-color: $accent;
  border-left-width: 0;
}
.map-popover.bottom > .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, .25);
}
.map-popover.bottom > .arrow:after {
  top: 1px;
  margin-left: -10px;
  content: " ";
  border-top-width: 0;
  border-bottom-color: #fff;
}
.map-popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: $accent;
}
.map-popover.left > .arrow:after {
  right: 1px;
  bottom: -10px;
  content: " ";
  border-right-width: 0;
  border-left-color: $accent;
}

/**
 * Popup open state
 */
.popup.popup-open {
  right: 13%;
  top: 50%;
  transform: translate(-8%, -50%);
}

/**
 * Open page button - needs renaming
 */
.open_page {
  display: block;
  margin-top: 40px;
  padding: 15px 30px;
  @include rem-fallback(font-size, 16);
  line-height: 1;
  color: #fff;
  text-align: center;
  //text-transform: uppercase;
  border: 2px solid #fff;
  border-radius: 30px;
}



/**
 * Page & Modal close button
 * TODO rename to close_btn to differentiate from state
 */
.close {
  position: absolute;
}

.popup .close {
  top: 10px;
  right: 10px;
  background-image: url('../graphics/close-popup.svg');
  width: 15px;
  height: 15px;
}

.page .close {
  top: 20px;
  right: 20px;
  background-image: url('../graphics/close-page-color.svg');
  width: 34px;
  height: 34px;
}

.card .close {
  display: inline-block;
  top: auto;
  right: auto;
  // background-image: none;
  // background-color: $accent;
  // color: #fff;
  // padding: 5px;
  // border-radius: 30px;
}

/**
 * Generic
 */

 /**
 * Cards / Pages
 *
 * Multi Comment description
 *
 * @credits
 * http://
 *
 * TODO: 
 *  - First todo item
 *  - Second todo item
 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
}

.open, 
.popup-open {
  opacity: 1; 
  z-index: 1;
}


.popup-open {
  transform: translate3d(-80%, 0, 0); 
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1); 
}

.page-open {
  opacity: 1; 
  z-index: 4;
  transform: translate3d(-80%, 0, 0);
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.page {
  position: absolute;
  padding: 0;
  top: 0;
  right: -80%;
  width: 80%;
  height: 100%;
  background: #fff;
  border-radius: 0;
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.1), 0 10px 30px 0 rgba(0,0,0,0.2);
  overflow: hidden;
  //transform: translate3d(100%, 0, 0);   
  //transition: all 0s cubic-bezier(0, 0, 0, 0); 
  z-index: 10;
}

.page-closed {

}

@keyframes center-popout {
  0% { 
    transform: scale(0);
  }
  100% { 
    transform: scale(1);
  }
}

@keyframes center-popin {
  0% { 
    transform: scale(1); 
  }
  100% { 
    transform: scale(0);
  }
}

@media (max-width: 11140px) {
  
  .page {
    //width: 95%;
  }

  .page-open {
    //transform: translate3d(-95%, 0, 0);
    //animation: center-popout 1s ease-in-out;  
  }

}

@media (max-width: 1280px) {
  
  .page {
    width: 90%;
  }

  .page-open {
    transform: translate3d(-90%, 0, 0);
    //animation: center-popout 1s ease-in-out;    
  }

}

@media (min-width: 1281px) and (max-width: 1365px) {
  
  .page {
    width: 85%;
  }

  .page-open {
    transform: translate3d(-85%, 0, 0); 
    //animation: center-popout 1s ease-in-out;   
  }

}

@media (min-width: 1366px) {
  
  .page {
    width: 80%;
  }

  .page-open {
    //transform: translate3d(-80%, 0, 0);
    //animation: center-popout 0.5s ease-in-out;    
  }

}

/**
 * Page header
 */
.page header {
  float: left;
  width: 100%;
  height: 18%;
}

/**
 * Main section
 */
.page-content {    
  width: 97.5%;
  height: 70%;
  padding: 0 6%;
  margin: 20px 0 0; 
  margin: 0 0 0; 
  
  overflow-y: scroll;
}

/**
 * Page footer
 */
.page footer {
  float: left;
  width: 100%;
  background-color: $grey_light;
  height: 12%;
  padding: 1% 5.8%;
}

/**
 * Page Typography
 */
.page .point-title {
  margin-top: 0;
  @include rem-fallback(font-size, 36);
  font-family: $bold;
  text-transform: none;
}

.page a {
  color: $accent;
}

/**
 * Page header
 */
//heading
.page .outer-point-title {
  margin-top: 3%; //40px
  margin-left: 3%; //40px
  @include rem-fallback(font-size, 23);
}

//progress bar
.progress-bar {
  position: relative;
  //margin-top: 30px;
  margin-top: 2.21%;
  margin-left: 3%; //40px
  margin-right: 6%; //80px;
  display: flex;
  justify-content: space-between;
}

.progress-bar .symbol {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $grey_light;
}

.progress-bar-line {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  height: 2px;
  background-color: $grey_light;
}

.study-icon {

}

.play-icon {

}

.activity-single-icon {

}

.activity-group-icon {

}

.worksheet-icon {

}

.feedback-icon {

}

.happy-state-icon {

}

.sad-state-icon {

}

.next-steps-icon {
  
}

/**
 * Page footer
 */

/**
 * Download PDF button
 */
.download-pdf {
  @include rem-fallback(font-size, 12);
  font-family: $bold;
  margin: auto;
  margin-top: 2%;
  span {
      display: inline-block;
      max-width: 105px;
      margin-left: 6px;
  }
}

.pdf-icon {
  display: inline-block;
  background-image: url('../graphics/pdf.svg');
  width: 21px;
  height: 29px;
}

/**
 * Previous next buttons
 */
.card-nav {
  float: right;
  button {
    width: 41px;
    height: 52px;
  }
}

.next {
  svg {
     fill: $accent;
  }
  // background-image: url('../graphics/next.svg');
}

.previous {
  background-image: url('../graphics/next.svg');
  transform: rotate(180deg);
  margin-right: 15px;
}

.disabled {
  opacity: 0.5;
}

/**
 * Individual card content
 */

.card {
  display: none;
  width: 100%;
  // max-width: 50%;
  height: 100%;
}

.card.text, 
.card.quiz {
  width: 70%;
}


@media (max-width: 959px) {
  .card.text, 
  .card.quiz {
    width: 95%;
  }
}

@media (min-width: 960px) {
  .card.text, 
  .card.quiz {
    width: 70%;
  }
}

.card iframe {
  height: 600px;
}

.card.visible {
  display: block;
}

/**
 * Intro
 */
.intro {
  display: flex;
}

@media (max-width: 959px) {
  .intro {
    flex-direction: column;
  }
}

@media (min-width: 960px) {
  .intro {
    flex-direction: row;
  }
}

.col {
   width: 50%;
   height: 100%;
   margin: auto;
   margin-top: 0;
}

@media (max-width: 1140px) {
  .col {
    width: 100%;
  }
}

@media (min-width: 1141px) {
  .col {
    width: 50%;
  }
}

.col:first-child {
  @include rem-fallback(margin-right, 120);
}

.page h2, 
.col h3 {
  @include rem-fallback(font-size, 16);
  font-family: $bold;
  letter-spacing: 0;
  @include rem-fallback(margin-top, 20);
  @include rem-fallback(margin-bottom, 10);
}

.page p, 
.page li {
  @include rem-fallback(margin-top, 18);
  @include rem-fallback(font-size, 21);
  line-height: 1.4;
}

.page li {
  @include rem-fallback(margin-bottom, 10);
}

.block_1 p {
  @include rem-fallback(font-size, 26);
  line-height: 1.4;
  margin-top: 0;
}

.block_2 p,
.block_2 li,
.block_3 {
  @include rem-fallback(font-size, 21);
  line-height: 1.3;
  margin-top: 0;
}

.col article + article {
  @include rem-fallback(margin-top, 45);
}

.page .symbols {
  border: 2px solid $grey_light;
  border-radius: 8px;
  display: flex;
  justify-content: space-around; 
  padding: 3%;
}

.page .symbol {
  @include rem-fallback(font-size, 14);
  font-family: $bold;
  text-align: center;
  span {
      display: block; 
      margin-top: 8px;
      //text-transform: uppercase;
      vertical-align: top;
  }
  i {
    display: inline-block;
    height: 33px;
    @include rem-fallback(height, 33);
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.duration-icon {
  background-image: url('../graphics/clock.svg');
  @include rem-fallback(width, 28);
}

.level-icon {
  background-image: url('../graphics/student.svg');
  @include rem-fallback(width, 26);
}

.classroom-icon {
  background-image: url('../graphics/classroom.svg');
  @include rem-fallback(width, 36);
}

.text h3:first-of-type {
  margin-top: 0;
}

.text h3 {
  @include rem-fallback(font-size, 30);
  font-family: $bold;
  @include rem-fallback(margin-top, 80);
  @include rem-fallback(margin-bottom, 18);
}

.text h4 {
  @include rem-fallback(font-size, 21);
  font-family: $bold;
  @include rem-fallback(margin-top, 20);
  text-transform: none;
}

/**
 * Study
 */

.alignleft { /* mainly images */
  float: left;
  @include rem-fallback(margin-right, 20);
  @include rem-fallback(margin-top, 5);
}

.alignright { /* mainly images */
  float: right;
  @include rem-fallback(margin-left, 20);
  @include rem-fallback(margin-top, 5);
}

/**
 * Loaders
 */

.loader {
  display: none;
  position: absolute; 
  right: 10px;
  top: 10px;
  width: 28px;
  height: 28px;
}

.loader-container {
  position: relative;
  .loader {
    width: 50px;
    height: 50px;
    left: 0;
  }
}

.map-loader {
  display: none;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
}

/**
 * Forms - Sortable
 */
.sortable-answers {
  list-style: none;
  padding: 0;
}

.sortable-answers li {
  border: 1px solid #333;
  padding: 5px 10px;
  background: #fff;
  z-index: 1;
}

.sortable-container {
  position: relative;
  // top: 50%;
  // left: 50%;
  width: 100%;
  height: auto;
  opacity: 0;
  visibility: hidden;
  // transform: translate(-50%, -50%);
  // cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/106114/cursor.png") 32 32, auto;
  cursor: move;
}

.sortable-container .right-order,
.sortable-container .order {
  display: none;
}

.list-item {
  position: absolute;
  top: 0;
  left: 0;
  height: 58px;
  width: 100%;
}

.item-content {
  height: 100%;
  border: 1px solid rgba(123, 123, 123, 0.498039);
  border-radius: 4px;
  color: rgb(153, 153, 153);
  line-height: 60px;
  padding-left: 32px;
  font-family: $bold;
  @include rem-fallback(font-size, 21);
  background-color: rgb(255, 255, 255);
  //box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
}

