

.pin {
  display: block;
  position: absolute;
  bottom: -42px;
  background-image: url('../graphics/pin.svg');
  width: 32px;
  height: 32px;
}

.glossary-term {
  position: relative;
  // background: url('../graphics/glossary-underline.svg') bottom no-repeat;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: $accent;
  padding-bottom: 5px;
  cursor: pointer;
  &.current {
    z-index: 2;
  }
}

.page .glossary-popup,
.page .term-popup {
  width: 0; //needs a width set at the beginning otherwise height goes wonky
  height: 0;
  position: fixed;
  @include rem-fallback(padding-top, 20);
  @include rem-fallback(padding-bottom, 20);
  @include rem-fallback(padding-left, 20);
  @include rem-fallback(padding-right, 34);
  background-color: $accent;
  color: $white;
  opacity: 0;
  z-index: -1;
  will-change: transform;
  transform: translate3d(0,0,0);
  top: 5%;
  cursor: default;
  @include rem-fallback(font-size, 14);
  line-height: 1.3;
  overflow: hidden;
  text-align: left;
  &.open {
    position: absolute;
    width: 460px;
    height: auto;
    margin-top: 5px;
    animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 normal both;
    z-index: 2;
    h2 {
      @include rem-fallback(font-size, 21);
      line-height: 1.1;
    }
    p { 
      @include rem-fallback(font-size, 16);
      line-height: 1.3;
    }
    a {
      color: $white;
    }
    .close-popup {
      position: absolute;
      top: 10px!important;
      right: 10px!important;
      cursor: pointer;
    }
  }

}

/**
 * ----------------------------------------
 * animation slide-in-fwd-center
 * ----------------------------------------
 */
@keyframes slide-in-fwd-center {
  0% {
    opacity: 0;
  }
  100% {
    transform: translate(0, -5%);
    opacity: 1;
  }
}


.map-popover {
  position: fixed;
  padding: 1px;
  font-family: $regular;
  @include rem-fallback(font-size, 14);
  line-height: 1.42857143;
  text-align: left;
  text-decoration: none;
  background-color: $accent;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border-radius: 0px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  opacity: 0;
  z-index: -1;
  color: #fff;
  will-change: transform;
  transform: translate3d(0,6px,0);
  transition: transform .1s ease-in-out;
}

.map-popover.top {
  margin-top: -10px;
}
.map-popover.right {
  margin-left: 10px;
}
.map-popover.bottom {
  margin-top: 10px;
}
.map-popover.left {
  margin-left: -10px;
}

.map-popover-title {
  padding: 0;
  margin: 0;
  font-family: $regular;
  @include rem-fallback(font-size, 21);
  color: #fff;
  letter-spacing: 1px;
  background-color: $accent;
  z-index: -1;
}

.popup {
  padding: 20px;
  max-width: 320px;
}

.tooltip {
  padding: 10px 20px;
}

.tooltip.open .map-popover-title {
  letter-spacing: 0;
  @include rem-fallback(font-size, 16);
}

.popup.popup-open .map-popover-title {
  margin-top: 20px;
  font-family: $bold;
}

.map-popover-content {
  margin: 0;
  padding: 0;
  color: #fff;
}

.popup.popup-open .map-popover-content {
  margin-top: 10px;
  @include rem-fallback(font-size, 19);
  line-height: 1.4;
  color: #fff;
}

.map-popover > .arrow,
.map-popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.map-popover > .arrow {
  border-width: 11px;
}
.map-popover > .arrow:after {
  content: "";
  border-width: 10px;
}
.map-popover.top > .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, .25);
  border-bottom-width: 0;
}
.map-popover.top > .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  content: " ";
  border-top-color: #fff;
  border-bottom-width: 0;
}
.map-popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: $accent;
  //border-right-color: rgba(0, 0, 0, .25);
  border-left-width: 0;
}
.map-popover.right > .arrow:after {
  bottom: -10px;
  left: 1px;
  content: " ";
  border-right-color: $accent;
  border-left-width: 0;
}
.map-popover.bottom > .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, .25);
}
.map-popover.bottom > .arrow:after {
  top: 1px;
  margin-left: -10px;
  content: " ";
  border-top-width: 0;
  border-bottom-color: #fff;
}
.map-popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: $accent;
}
.map-popover.left > .arrow:after {
  right: 1px;
  bottom: -10px;
  content: " ";
  border-right-width: 0;
  border-left-color: $accent;
}

/**
 * Popup open state
 */
.popup.popup-open {
  right: 13%;
  top: 50%;
  transform: translate(-8%, -50%);
}

/**
 * Open page button - needs renaming
 */
.open_page {
  display: block;
  margin-top: 40px;
  padding: 15px 30px;
  @include rem-fallback(font-size, 16);
  line-height: 1;
  color: #fff;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 30px;
}



/**
 * Page & Modal close button
 * TODO rename to close_btn to differentiate from state
 */
.close {
  position: absolute;
}

.popup .close {
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
}

.page .close {
  top: 20px;
  right: 20px;
  width: 34px;
  height: 34px;
}

.cards {
  max-height: 100%;
  .card {
    @include rem-fallback(margin-top, 30);
  }
}

.card .close {
  display: inline-block;
  top: auto;
  right: auto;
}

/**
 * Generic
 */

 /**
 * Cards / Pages
 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;

  &.overlay-open {
    opacity: 1; 
    z-index: 4;
    // transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  }
}

.map-popover.open {
  transform: scale3d(1,1,1);
  opacity: 1;
  z-index: 2;
}

.open, 
.popup-open {
  opacity: 1; 
  z-index: 1;
}

.popup-open {
  transform: translate3d(-80%, 0, 0); 
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1); 
}



.page {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
  background: #fff;
  border-radius: 0;
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.1), 0 10px 30px 0 rgba(0,0,0,0.2);
  overflow: hidden;
  transform: translate3d(100%, 0, 0); 
  transition: transform 0.5s cubic-bezier(0.18,0.44,0.28,0.93); //when page-open class is removed fire this transition
  z-index: 10;
  &.page-open {
    transform: translate3d(0, 0, 0); 
    transition: transform 0.6s cubic-bezier(0.4, 0.18, 0.6, 0.14);
  }
}



@keyframes center-popout {
  0% { 
    transform: scale(0);
  }
  100% { 
    transform: scale(1);
  }
}

@keyframes center-popin {
  0% { 
    transform: scale(1); 
  }
  100% { 
    transform: scale(0);
  }
}

@media (max-width: 1000px) {
  
  .page {
    width: 100%;
    // right: -100%;
  }

  .page-open {
    transform: translate3d(-100%, 0, 0);
    //animation: center-popout 1s ease-in-out;  
  }

}

@media (min-width: 1001px)  and (max-width: 1280px) {
  
  .page {
    width: 90%;
  }

  .page-open {
    transform: translate3d(-90%, 0, 0);
    //animation: center-popout 1s ease-in-out;    
  }

}

@media (min-width: 1281px) and (max-width: 1365px) {
  
  .page {
    width: 85%;
  }

  .page-open {
    //transform: translate3d(-85%, 0, 0); 
    //animation: center-popout 1s ease-in-out;   
  }

}

@media (min-width: 1366px) {
  
  .page {
    width: 80%;
  }

  .page-open {
    //transform: translate3d(-80%, 0, 0);
    //animation: center-popout 0.5s ease-in-out;    
  }

}

/**
 * Page header
 */
.page header {
  float: left;
  width: 100%;
  height: 20%;
  margin-bottom: 3px;
  overflow: hidden;
  box-shadow: 0 8px 6px -6px #efefef; //border-bottom shadow
}

/**
 * Main section
 */
.page-content {    
  width: 97.5%;
  height: 70%;
  padding: 0 6%; 
  margin: 0; 
  overflow-y: auto;
}

/**
 * Page footer
 */
.page footer {
  float: left;
  width: 100%;
  background-color: $grey_light;
  height: 10%;
  padding: 1% 5.8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/**
 * Page Typography
 */
.page .point-title {
  margin-top: 0;
  @include rem-fallback(font-size, 36);
  font-family: $bold;
  text-transform: none;
}

.page a {
  color: $accent;
}

/**
 * Page header
 */
//heading
.page .outer-point-title {
  margin-top: 3%; //40px
  margin-left: 6%; //80px
  @include rem-fallback(font-size, 27);
}

//progress bar
.progress-bar {
  position: relative;
  margin-top: 1%;
  margin-left: 6%; //80px
  margin-right: 6%; //80px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-height: 565px) {
  .page .outer-point-title {
    margin-bottom: 0.5%;
  }
}
@media screen and (max-height: 623px) {
  .progress-bar {
    margin-top: 0.5%;
  }
}
@media screen and (min-height: 624px) and (max-height: 679px) {
  .progress-bar {
    margin-top: 1.6%;
  }
}
@media screen and (min-height: 680px) and (max-height: 767px) {
  .progress-bar {
    margin-top: 3%;
  }
}
@media screen and (min-height: 768px) {
  .progress-bar {
    margin-top: 0.8%;
  }
}
@media screen and (min-height: 840px) {
  .progress-bar {
    margin-top: 1.2%;
  }
}


.progress-bar {
  .symbol-container {
    position: relative;
    background-color: transparent;
    margin-right: 10px;
    z-index: 2;
    opacity: 0.3;
    cursor: pointer;
    animation-duration: 0.8s; 
    animation-fill-mode: both;
    //filter: grayscale(90%); 
    transition: 0.7s ease-in-out;
    &.activeSlide, 
    &.visited,
    &:hover {
      opacity: 1;
    }
    &.activeSlide,
    &.activeSlide.visited {
     // filter: grayscale(0%);
    }
    &.visited {
      //filter: grayscale(70%);
    }
    &:hover {
      //filter: grayscale(0%);
    }
  }
}

.progress-bar-line {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  height: 2px;
  z-index: 1;
}

/**
 * Card navigation with symbols
 */

@keyframes bounce {
   0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
   40% {transform: translateY(-30px);} 
   60% {transform: translateY(-15px);} 
} 

.symbol-container:hover {  
  //animation-name: bounce; 
}




/**
 * Page footer
 */

/**
 * Download PDF button
 */
.page .pdf-download {
  @include rem-fallback(font-size, 12);
  font-family: $bold;
  color: $text;
  text-decoration: none;
  vertical-align: bottom;
  span {
    display: inline-block;
    margin-left: 6px;
    line-height: 1;
    vertical-align: bottom;
  }
}

.icon.download-pdf {
  // display: inline-block;
  // vertical-align: bottom;
  //font-size: 0.7rem;
}

@media screen and (max-height: 840px){
  .icon.download-pdf {
    font-size: 0.55rem;
  }
}

/**
 * Previous next buttons
 */
.card-nav {
  float: right;
  button {
    width: 41px;
    height: 52px;
  }
}

.next {
  svg {
    fill: $accent;
  }
  &.last svg {
    fill: #ccc;
  }
}

.previous {
  margin-right: 15px;
  svg {
    transform: rotate(180deg);
    fill: $accent;
  }
  &.last svg {
    fill: #ccc;
  }
}

@media screen and (max-height: 640px){
  .previous svg, 
  .next svg  {
    max-height: 85%;
  }
}

.disabled {
  opacity: 0.5;
}

.disabled.submit {
  background-color: $text;
  cursor: default;
}

/**
 * Individual card content
 */

.card {
  display: none;
  width: 100%;
  background-color: $white!important;
  @include rem-fallback(padding-bottom, 40);
}

.card.text, 
.card.quiz {
  //width: 70%;
}

.card iframe {
  height: 600px;
}

.card.visible {
  display: block;
}

/**
 * Intro
 */
.intro {
  display: flex;
}

@media (max-width: 959px) {
  .intro {
    flex-direction: column;
  }
}

@media (min-width: 960px) {
  .intro,
  .quiz {
    flex-direction: row;
  }
  
}

.col {
   width: 50%;
   height: 100%;
   margin: auto;
   margin-top: 0;
}

@media (max-width: 1140px) {
  .col {
    width: 100%;
  }
}

@media (min-width: 1141px) {
  .col {
    width: 50%;
  }
}

.col:first-child {
  @include rem-fallback(margin-right, 120);
}

.page h2, 
.col h3 {
  @include rem-fallback(font-size, 16);
  font-family: $bold;
  letter-spacing: 0;
  @include rem-fallback(margin-top, 20);
  @include rem-fallback(margin-bottom, 10);
}

.page p, 
.page li {
  @include rem-fallback(margin-top, 18);
  @include rem-fallback(font-size, 21);
  line-height: 1.45;
}

.page li {
  @include rem-fallback(margin-bottom, 10);
}

.block_1 p {
  @include rem-fallback(font-size, 26);
  line-height: 1.4;
  margin-top: 0;
}

.block_2 p,
.block_2 li,
.block_3 {
  @include rem-fallback(font-size, 21);
  line-height: 1.3;
  margin-top: 0;
}

.col article + article {
  @include rem-fallback(margin-top, 45);
}

.page .symbols {
  border: 2px solid $grey_light;
  border-radius: 8px;
  display: flex;
  justify-content: space-around; 
  padding: 2%;
}

.page .symbol {
  @include rem-fallback(font-size, 14);
  font-family: $bold;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  span {
    display: block; 
    margin-top: 15px;
    vertical-align: bottom;
    text-align: center;
  }
}

.text h3:first-of-type {
  margin-top: 0;
}

.text h3 {
  @include rem-fallback(font-size, 30);
  font-family: $bold;
  @include rem-fallback(margin-top, 80);
  @include rem-fallback(margin-bottom, 18);
}

.text h4 {
  @include rem-fallback(font-size, 21);
  font-family: $bold;
  @include rem-fallback(margin-top, 20);
  text-transform: none;
}

/**
 * Study
 */

.alignleft { /* mainly images */
  float: left;
  @include rem-fallback(margin-right, 20);
  @include rem-fallback(margin-top, 5);
}

.alignright { /* mainly images */
  float: right;
  @include rem-fallback(margin-left, 20);
  @include rem-fallback(margin-top, 5);
}

/**
 * Loaders
 */

.loader {
  display: none;
  position: absolute; 
  right: 12px;
  top: 7px;
  width: 28px;
  height: 28px;
}

.loader-container {
  position: relative;
  .loader {
    width: 50px;
    height: 50px;
    left: 0;
  }
}

.map-loader {
  display: none;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
}

/**
 * Forms - Sortable
 */
.sortable-answers {
  list-style: none;
  padding: 0;
}

.sortable-answers li {
  border: 1px solid #333;
  padding: 5px 10px;
  background: #fff;
  z-index: 1;
}

.sortable-container {
  position: relative;
  // top: 50%;
  // left: 50%;
  width: 100%;
  height: auto;
  opacity: 0;
  visibility: hidden;
  // transform: translate(-50%, -50%);
  // cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/106114/cursor.png") 32 32, auto;
  cursor: move;
}

.sortable-container .right-order,
.sortable-container .order {
  display: none;
}

.list-item {
  position: absolute;
  top: 0;
  left: 0;
  height: 58px;
  width: 100%;
}

.item-content {
  height: 100%;
  border: 1px solid rgba(123, 123, 123, 0.498039);
  border-radius: 4px;
  color: rgb(153, 153, 153);
  line-height: 60px;
  padding-left: 32px;
  font-family: $bold;
  @include rem-fallback(font-size, 21);
  background-color: rgb(255, 255, 255);
  //box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
}

