.floating-element {
  position: absolute; 
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center center;
  &.top {
    top: 2.5%;
  }
  &.bottom {
    bottom: 2.5%;
  }
  &.left {
    left: 2.5%;
  }
  &.right {
    right: 2.5%;
  }
  &.logo {
    top: 5%;
  }
}

.floating-element--button {
  width: 34px;
  height: 34px;
  background-repeat: no-repeat;
  background-position: center center;
} 

.logo {
  margin: 0;
  width: 168px;
  height: 64px;
}

.points-nav {
  background-color: $accent;
  border-radius: 50%;
  z-index: 3!important;
}

#nav-icon {
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  // width: 70%;
  margin: 0 auto;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 55%;
  background-color: #fff;
  border-radius: 0px;
  opacity: 1;
  top: 8px;
  left: 8px;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

#nav-icon.open span {
  height: 5px;
}

#nav-icon span:nth-child(1) {
 top: 10px;
}

#nav-icon span:nth-child(2) {
  background: transparent;
}

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
  top: 16px;
}

#nav-icon span:nth-child(4) {
  top: 22px;
}

#nav-icon.open {
  background-color: #fff;
}

#nav-icon.open span {
  background-color: $accent;
}

#nav-icon.open span:nth-child(1) {
  width: 0%;
  opacity: 0;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 15px;
  left: 8px;
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 15px;
  left: 8px;
}

#nav-icon.open span:nth-child(4) {
  width: 0%;
  opacity: 0;
}

#info-icon {
  z-index: 5;
  .info-close {
    opacity: 0;
  }
  &.open {
    .info-close {
      opacity: 1;
    }
    i.info {
      opacity: 0;
    }
  }
}

#info-icon-top.open {
  background-image: none;
  z-index: 5;
  @include rem-fallback(top, 20);
  left: 10px;
}

#info-icon-top.open:after {
  content: "←";
  font-family: $bold;
  font-size: 11px;
  color: #fff;
  letter-spacing: 1px;
  vertical-align: bottom;
  display: block;
  width: 210px;
  margin-top: 2px;
}

@media (max-width: 1440px) {

}

@media (min-width: 1280px) {
  #info-icon-top.open:after {
    content: "← ΕΠΙΣΤΡΟΦΗ";
    margin-top: 0px;
  }
}

@media (min-width: 1680px) {
  #info-icon-top.open:after {
    content: "← ΕΠΙΣΤΡΟΦΗ ΣΤΟ ΧΑΡΤΗ";
    margin-top: 6px;
  }
}

.map-controls button {
  display: block;
  margin-bottom: 10px;
}

.sidebar-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: auto;
  height: 100vh;
  @include rem-fallback(padding, 30);
  @include rem-fallback(padding-top, 20);
  background-color: $accent;
  color: #fff;
  z-index: 10;
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.1), 0 10px 30px 0 rgba(0,0,0,0.2);
  overflow: hidden;
  transform: translate3d(105%, 0, 0) rotate(0.001deg); /* using rotate for firefox */
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  z-index: 2;
}

.sidebar-nav--visible {
  transform: translate3d(0%, 0, 0) rotate(0.001deg); 
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1); 
}

.sidebar-nav-list {
  height: 85%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  display: block;
  @include rem-fallback(margin-bottom, 15);
  @include rem-fallback(font-size, 16);
  font-family: $bold;
  line-height: 1.3;
  color: #fff;
  letter-spacing: 1px;
  max-width: 220px;
  cursor: pointer;
}

.sidebar-nav-heading {
  @include rem-fallback(margin-top, 16);
  @include rem-fallback(margin-bottom, 55);
  font-family: $bold;
  @include rem-fallback(font-size, 14);
  letter-spacing: 1px;
}

/**
 * Info panel
 */
.info-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: translate3d(-100%, 0, 0) rotate(0.001deg);   
  transition: all 0.5s cubic-bezier(.18,.44,.28,.93); 
}

.info-panel--closed {
  width: 100vw;
  height: 100vh;
  transform-origin: 0 100%;
}

.info-panel--visible {
  visibility: visible;
  z-index: 4;
  width: 100vw;
  height: 100vh;
  transform: translate3d(0, 0, 0) rotate(0.001deg);
  transition: all 0.6s cubic-bezier(.27,.01,.31,.95);
}

.info-header {
  @include rem-fallback(padding, 20);
}

.info-content {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #fff;
  overflow-y: hidden;
}

@keyframes info-popout {
  0% { 
    transform: scale(0);
  }
  100% { 
    transform: scale(1);
  }
}

@keyframes info-popin {
  0% { 
    transform: scale(1); 
  }
  //80%{ transform: scale(1.1) }
  100% { 
    transform: scale(0);
  }
}


