.c-tabs {
  height: 100%;
}

.c-tabs-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: $white;
}

.c-tabs-nav__link {
  // flex: 1;
  margin-right: 4px;
  @include rem-fallback(padding-right, 30);
  color: $text;
  background-color: $white;
  text-align: center;
  transition: color 0.3s;
}

.c-tabs-nav__link:last-child {
  margin-right: 0;
}

.c-tabs-nav__link:hover {
  // color: #6d6d6d;
}

.c-tabs-nav__link.is-active {
  color: $text;
  background-color: $white;
}

.c-tabs-nav__link i,
.c-tabs-nav__link span {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.c-tabs-nav__link i {
  font-size: 18px;
}

.c-tabs-nav__link span {
  display: none;
  font-size: 18px;
}

@media all and (min-width: 720px) {
  .c-tabs-nav__link i {
    margin-bottom: 12px;
    font-size: 22px;
  }
  .c-tabs-nav__link span {
    display: block;
  }
}

/**
 * Tab
 */
.c-tab {
  display: none;
  background-color: $white;

}

.c-tab.is-active {
  display: block;
  height: 100%;
}

.c-tab__content {
  height: 95%;
  @include rem-fallback(padding, 30);
  @include rem-fallback(padding-top, 0);
  overflow-y: scroll;
  @include rem-fallback(font-size, 16);
}

.c-tab__content .col-wrapper {
  display: flex;
}

@media (max-width: 767px) {
  .c-tab__content .col-wrapper {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .c-tab__content .col-wrapper {
    flex-direction: row;
  }
  
  .info-header,
  .c-tabs-nav-wrapper,
  .c-tab__content .col-wrapper, 
  .c-tab__content h3 {
    width: 95%;
    margin: 0 auto;
  }
}

@media (min-width: 1280px) {
  .info-header,
  .c-tabs-nav-wrapper,
  .c-tab__content .col-wrapper, 
  .c-tab__content h3 {
    width: 85%;
  }
}

@media (min-width: 1366px) {
  .info-header,
  .c-tabs-nav-wrapper,
  .c-tab__content .col-wrapper, 
  .c-tab__content h3 {
    width: 80%;
  }
}

@media (min-width: 1440px) {
  .info-header,
  .c-tabs-nav-wrapper,
  .c-tab__content .col-wrapper, 
  .c-tab__content h3 {
    width: 75%;
  }
}

@media (min-width: 1680px) {
  .info-header,
  .c-tabs-nav-wrapper,
  .c-tab__content .col-wrapper, 
  .c-tab__content h3 {
    width: 70%;
  }
}

/**
 * Tabs no-js fallback
 */
// .c-tabs.no-js .c-tabs-nav {
//   display: none;
// }

.c-tabs.no-js .c-tab {
  display: block;
  margin-bottom: 1.5rem;
}

.c-tabs.no-js .c-tab:last-child {
  margin-bottom: 0;
}


/**
 * Custom theme styles for neroupoli
 */
.c-tabs-nav {
  justify-content: flex-start;
  //box-shadow: 0px 9px 22px -5px rgba(0,0,0,0.1);
  border-bottom: 1px solid $grey_light;
  // margin-bottom: 30px;
  @include rem-fallback(padding, 30);
  @include rem-fallback(padding-bottom, 15);
}

.c-tabs-nav__link {
  text-decoration: none;
  font-family: $bold;
  @include rem-fallback(font-size, 14);
  color: rgba($text, 0.5);
}

.c-tab__content a {
  color: $text;
}

.c-tab__content p {
  line-height: 1.4;
}

.c-tab__content h3 {
  font-family: $bold;
  @include rem-fallback(font-size, 16);
  @include rem-fallback(margin-top, 30);
}

.c-tab__content .col {
   width: 50%;
   height: auto;
   margin: 0;
}

@media (max-width: 767px) {
  .c-tab__content .col {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .c-tab__content .col {
    width: 50%;
    max-width: 525px;
  }
}