.land:hover {
 /* opacity:1;
  fill: #283b4a;
  fill-opacity: 0;
  stroke: white;
  stroke-opacity: 1;
  stroke-width:0.5;*/
}

#svgmap {
  width: 1680px;
  height: 1080px;
}

.svg-pan-zoom_viewport {
    transition: transform 0.5s ease;
}

.view {
  background: transparent;
}


#zoom-in {
  bottom: 20%;
  left: 20%;
}

.pin {
  display: block;
  position: absolute;
  bottom: -42px;
  background-image: url('../compiled/graphics/pin.svg');
  width: 32px;
  height: 32px;
}