html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #E9F7FE;
  background: #ccc;
  font-family: Arial;
}

svg, .panzoom {
  display:block;
  width:100%;
  height: 100%;
}

.panzoom {
  cursor: all-scroll;
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#container {
  position:  relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.controls {
  position: absolute;
  left: 0;
  top: 10%;
  left: 10%;
  z-index: 1;
}

.map-popover {
  position: absolute;
  max-width: 276px;
  padding: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 3px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  line-break: auto;
  opacity: 0;
}
.map-popover.top {
  margin-top: -10px;
}
.map-popover.right {
  margin-left: 10px;
}
.map-popover.bottom {
  margin-top: 10px;
}
.map-popover.left {
  margin-left: -10px;
}
.map-popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}
.map-popover-content {
  padding: 9px 14px;
}
.map-popover > .arrow,
.map-popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.map-popover > .arrow {
  border-width: 11px;
}
.map-popover > .arrow:after {
  content: "";
  border-width: 10px;
}
.map-popover.top > .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, .25);
  border-bottom-width: 0;
}
.map-popover.top > .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  content: " ";
  border-top-color: #fff;
  border-bottom-width: 0;
}
.map-popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, .25);
  border-left-width: 0;
}
.map-popover.right > .arrow:after {
  bottom: -10px;
  left: 1px;
  content: " ";
  border-right-color: #fff;
  border-left-width: 0;
}
.map-popover.bottom > .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, .25);
}
.map-popover.bottom > .arrow:after {
  top: 1px;
  margin-left: -10px;
  content: " ";
  border-top-width: 0;
  border-bottom-color: #fff;
}
.map-popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, .25);
}
.map-popover.left > .arrow:after {
  right: 1px;
  bottom: -10px;
  content: " ";
  border-right-width: 0;
  border-left-color: #fff;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  max-width: 100%;
  height: 100%;
  opacity: 0;
  background: linear-gradient(90deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.8) 40%, rgba(0,0,0,0.7) 75%, rgba(0,0,0,0.3) 100%);
  z-index: -1;
}

.page {
  position: absolute;
  padding: 30px;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width:80%;
  max-width: 80%;
  height: 90%;
  background: #fff;
  border-radius: 10px;
  opacity: 1; 
  z-index: 1;
}

.open {
  opacity: 1; 
  z-index: 1;
}

.close {
  position: absolute;
  top: 30px;
  right: 30px;
}